@import '~@src/App.less';

.wrap {
 padding: @padding-md;
}

.table {
 >section:first-child {
  margin-bottom: @margin-lg;
 }

 >header {
  display      : flex;
  margin-bottom: @margin-md;
  align-items  : center;

  >* {
   margin-left: @margin-md;

   &:first-child {
    flex-grow  : 1;
    margin-left: 0;
   }
  }
 }
}

.tab-pane {
 position: relative;
}

.tab-spin {
 position  : absolute;
 width     : 100%;
 text-align: center;
}