@import '~@src/App.less';

.wrap {
 >* {
  &:nth-child(2) {
   margin: @margin-sm 0;
  }
 }
}

.form {
 max-height     : 70vh;
 display        : flex;
 justify-content: space-between;
 flex-wrap      : wrap;
 overflow-y     : auto;
 transition     : .25s linear;
}

.title {
 font-size: 1.4rem;
}

.footer {
 display        : flex;
 justify-content: flex-end;
 margin-top     : @margin-md;
}

.form-ele {
 width: 48%;

 @media (max-width: 600px) {
  width: 100%;
 }
} 